<div class="content-container">
  <div class="content-container__layout">
    <div>
      <h1 class="content-container__title">Select location</h1>
      <p>Select location to display weather information.</p>
    </div>

    <app-weather-information *ngIf="!hasError"></app-weather-information>

    <p *ngIf="hasError" class="error-message">An error occured.<br/> Please select a different location.</p>

    <div id="open-action-sheet" class="content-container__location-selector">
      <p class="bold-text">{{ selectedLocation$ | async }}</p>

      <ng-container *ngIf="(loadingState$ | async); else chevronIcon">
        <div class="spinner"></div>
      </ng-container>

      <ng-template #chevronIcon>
        <ion-icon name="chevron-forward" class="content-container__icon"></ion-icon>
      </ng-template>
    </div>
  </div>

  <ion-action-sheet trigger="open-action-sheet" class="location-selector" header="Select location"
    [buttons]="locationButtons"></ion-action-sheet>
</div>