// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #221F1F;
    --ion-color-primary-rgb: 34, 31, 31;
    --ion-background-color: #E8E8E8 !important;
    --bg-color-white: #ffffff;
    --app-max-width: 335px !important;

    --ion-font-family: 'Inter', sans-serif;
    --ion-title-font-weight: 700;
    --ion-title-font-size: 18px;
    --ion-title-color: #23252F;
    --ion-title-line-height: 100%;
    --ion-title-letter-spacing: 0%;
    --ion-title-text-align: center;
    --ion-title-vertical-align: middle;

    --ion-text-font-weight: 400;
    --ion-text-font-size: 14px;
    --ion-text-color: #221F1F;
    --ion-text-line-height: 20px;
    --ion-text-letter-spacing: 0%;
    --ion-text-text-align: center;
    --ion-text-vertical-align: middle;

    --ion-bold-text-font-weight: 600;
    --ion-bold-text-font-size: 14px;
    --ion-bold-text-color: #221F1F;
    --ion-bold-text-line-height: 100%;
    --ion-bold-text-letter-spacing: 0%;
    --ion-bold-text-vertical-align: middle;

    --ion-error-font-weight: 600;
    --ion-error-font-size: 14px;
    --ion-error-color: #9C0808;
    --ion-error-line-height: 20px;
    --ion-error-letter-spacing: 0%;
    --ion-error-text-align: center;
    --ion-error-vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ion-background-color: var(--ion-background-color);
    }

    ion-toolbar {
        --background: var(--ion-background-color);
    }
}

ion-icon {
    --border-width: 1.67px;
    --border-color: #221F1F;
}